article {
  blockquote {
    background: var(--shadow);
    border-left: 2px solid var(--border-color);
    
    margin: 0px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
  }

  ul,ol {
    padding-left: 2em;
  }

  p:has(img) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: underline;

    img {
      max-width: 50%;
      width: fit-content;
    }
  }

  img {
    border: 1px solid var(--border-color);
  }

  pre {
    border-left: 2px solid var(--border-color);
    padding: 5px 7px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  pre.language-html {
    border-color: var(--lang-html) !important;
  }

  pre.language-js {
    border-color: var(--lang-js) !important;
  }

  pre.language-ts {
    border-color: var(--lang-ts) !important;
  }

  pre.language-css {
    border-color: var(--lang-css) !important;
  }

  pre.language-rs {
    border-color: var(--lang-rs) !important;
  }

  pre.language-gd {
    border-color: var(--lang-gd) !important;
  }

  pre.language-cs {
    border-color: var(--lang-cs) !important;
  }
}
