{% extends "bases/main.html" %}

{% block rss -%}
{% set rss_path = "tags/" ~ term.name ~ "/rss.xml" %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=rss_path, trailing_slash=false) }}">
{% endblock rss %}

{% block content %}
<article>
  <div class="subtitle">
    Searching for {{ taxonomy.name }}: "{{ term.name }}"
  </div>
  <div class="content">
    Found {{ term.page_count }} pages
  </div>
</article>
{% for page in term.pages %}
  <article>
    <div class="subtitle">
      <a href="{{ page.path }}">{{ page.title }}</a>
      <ul class="meta">
        {#- Date indicator -#}
        {% if page.date %}
          <li class="date">{{ page.date }}</li>
        {% endif %}

        {#- Draft indicator -#}
        {% if page.draft %}
          <li class="draft-label">Draft</li>
        {% endif %}
  
        {#- Author(s) -#}
        {% for author in page.authors %}
          <li class="author">{{ author }}</li>
        {% endfor %}
  
        {#- Tags -#}
        {%- if page.taxonomies and page.taxonomies.tags -%}
          {%- for tag in page.taxonomies.tags -%}
            <li class="tag">
              <a href="{{ get_taxonomy_url(kind='tags', name=tag, lang=lang) | safe }}">{{ tag }}</a>
            </li>
          {%- endfor -%}
        {%- endif -%}
      </ul>
    </div>
    {% if page.extra and page.extra.tldr -%}
    <div class="tldr">
      <span title="Too long; didn't read (summary)">TL;DR</span>
      <p>{{ page.extra.tldr | markdown | safe }}</p>
    </div>
    {% endif %}
  </article>
{% endfor %}
{% endblock content %}
