:root {
  --page-bg: url('/img/themes/jane/background.webp');
  --header-bg: url('/img/themes/jane/banner.png');

  --background: hsla(185, 9%, 18%, 90%);
  --foreground: hsl(185, 67%, 89%);
  --border-color: hsl(185, 8%, 32%);

  --link: hsl(279, 100%, 76%);
  --shadow: hsl(342, 98%, 16%);
  --muted: hsl(185, 8%, 49%);

  //--nav-bg: linear-gradient(to bottom, #797467 0%, #5b574d 59%, #423f38 60%, #2c2a26 100%);
  --nav-bg: linear-gradient(to bottom, hsl(279, 100%, 76%) 0%, hsl(270, 86%, 51%) 59%, hsl(272, 98%, 38%) 60%, hsl(273, 66%, 44%) 100%);
  --nav-hover-bg: linear-gradient(to bottom, hsl(273, 68%, 45%) 0%, hsl(273, 97%, 37%) 59%, hsl(273, 99%, 27%) 60%, hsl(273, 99%, 34%) 100%);
  --nav-weight: bold;
  --nav-fg: hsl(185, 67%, 89%);
  --nav-hover-fg: hsl(185, 67%, 89%);

  --article-bg: hsla(185, 8%, 15%, 10%);
  --article-heading-bg: linear-gradient(to bottom, hsl(185, 8%, 44%) 0%, hsl(185, 8%, 33%) 59%, hsl(185, 8%, 24%) 60%, hsl(185, 7%, 16%) 100%);

  --color-success: hsl(120, 90%, 68%);
  --color-warn: hsl(60, 90%, 68%);
  --color-error: hsl(0, 90%, 68%);
  --color-info: hsl(180, 90%, 68%);

  --lang-html: hsl(39, 90%, 68%);
  --lang-js: hsl(84, 90%, 68%);
  --lang-ts: hsl(197, 90%, 68%);
  --lang-css: hsl(226, 90%, 68%);
  --lang-rs: hsl(16, 90%, 68%);
  --lang-cs: hsl(251, 90%, 68%);
  --lang-gd: hsl(120, 90%, 68%);
}